@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

h2, h3 {
    color: rgb(6, 255, 101);
}

footer {
    padding: 20px;
    color: white;
    background-color: rgb(6, 255, 101);
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: rgb(6, 255, 101);
    padding: 5px;
    position: sticky;
    top: 0;
}

header {
    display: inline;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

/* .menu-malasngoding{
    background-color: #3141ff;
} */

.menu-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-home > ul > li {
    float: left;
}


.menu-home li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* .menu-home li a:hover{
    background-color: #2525ff;
} */

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff !important;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

/* .featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    padding: 55px;
    position: relative;
    /* background-color: rgb(6, 255, 101); */
    background: url(./images/Perahu.jpg) center center;
    text-align: center;
    font-size: 25px;
    color: White;
    width: auto;
    height: auto;
    background-size: 1420px;
    overflow: hidden;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 992px */
@media screen and (max-width: 992px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
}
   
/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 600px */
@media screen and (max-width: 600px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
}




